<h1>Rubrica telefonica</h1>
<br>
Nome<input type="text"> Cognome<input type="text">  Telefono<input type="text">

<br>
<button (click)="aggiungi()"><h6>Aggiungi</h6></button> 


<b *ngIf="!(rubrica.nome)">Errore: Il campo non può essere vuoto!</b>
<br>

<h2>Lista Contatti</h2> 
<table>
  <tr>
  <th>Id contatto</th>
  <td>{{contatti.id}}</td><button (click)="rimuovi(c)">ELIMINA</button>
  <th>Nome</th>
  <td>{{contatti.nome}}</td>
  <th>Cognome</th>
  <td>{{contatti.cognome}}</td>
  <th>Telefono</th>
  <td>{{contatti.numero}} </td>
</tr>




