<h1>Rubrica telefonica</h1>
<br>
Nome<input type="text"> Cognome<input type="text">  Telefono<input type="text">

<br>
<button (click)="aggiungi()"><h6>Aggiungi</h6></button> 


<b *ngIf="!(rubrica.nome)">Errore: Il campo non può essere vuoto!</b>
<br>

<h2>Lista Contatti</h2> 
<table>
  <tr *ngFor="let c of contatti">
  
  <td>{{contatti.id}} </td>
  
  <td>{{contatti.nome}}</td>
  
  <td>{{contatti.cognome}}</td>
  
  <td>{{contatti.numero}} </td>

  <button (click)="rimuovi(c)">ELIMINA</button>
</tr>




